<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="bg-light">

        <div class="vertical-center">
            <div class="container p-3 text-center">
                <div class="typewriter">
                    <h1>Where Should i go?</h1>
                </div>
                <div class="container pt-4">
                    <form method="POST" action="/">
                        <input type="submit" class="btn btn-outline-primary px-5 py-3 mt-4 mx-3" name="Enter_room" value="Room 1">
                        <input type="submit" class="btn btn-outline-primary px-5 py-3 mt-4 mx-3" name="Enter_room" value="Room 2">
                        <input type="submit" class="btn btn-outline-primary px-5 py-3 mt-4 mx-3" name="Enter_room" value="Room 3">
                    </form>
                </div>
            </div>
        </div>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>