<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="bg-light">

        <div class="vertical-center">
            <div class="container text-center">
                <div class="typewriter">
                    <h1>Where Should i go?</h1>
                </div>
                <small class="text-muted" style="font-family: monospace;">The highlighted button, are the robot position</small>
                <div class="container pt-4">
                    <form method="POST" action="/">
                        <input type="submit" 
                               class="btn {{ 'btn-primary' if data == '1' else 'btn-outline-primary' }} px-5 py-3 mt-4 mx-3"
                               name="Enter_room" value="Room 1">
                        <input type="submit" 
                               class="btn {{ 'btn-primary' if data == '2' else 'btn-outline-primary' }} px-5 py-3 mt-4 mx-3" 
                               name="Enter_room" value="Room 2">
                        <input type="submit" 
                               class="btn {{ 'btn-primary' if data == '3' else 'btn-outline-primary' }} px-5 py-3 mt-4 mx-3" 
                               name="Enter_room" value="Room 3">
                    </form>
                </div>
            </div>
        </div>

        <footer class="card-footer bg-light footer-font-style text-muted footer-position">
            <div class="row">
                <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                    <a href="https://github.com/rifkybujana/ARD-STRC-Bot" target="_blank"><small>Source Code</small></a>
                </div>
                <div class="col-9 col-sm-10 col-md-10 col-lg-11">
                    <a href="https://www.aseanroboticday.org/" target="_blank"><small>ASEAN Robotic Day Official Website</small></a>
                </div>
            </div>
        </footer>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>